@page
@model TwoWaySynonyms.Web.Pages.SynonymsModel
@{
    ViewData["Title"] = "Synonyms";
}

<h1 class="display-4 text-center">Synonyms</h1>

<form asp-page-handler="addTermWithSynonyms" method="post">
    <div class="form-group">
        <label for="term">Term</label>
        <input class="form-control" name="Term" placeholder="Type your term here..." id="term" />
    </div>
    <div class="form-group">
        <label for="synonyms">Synonyms</label>
        <input class="form-control" name="Synonyms" placeholder="Type your synonyms here..." id="synonyms" />
    </div>
    <input type="submit">
</form>
<br />
<div class="container">
    @foreach (var term in Model.Terms)
    {
        <div class="border m-1">
            <label class="m-1">@term.Value</label><br />
            @foreach (var synonym in @term.Synonyms)
            {
                <label class="rounded p-2 bg-dark text-white ml-1">@synonym.Value</label>
            }
        </div>
    }
</div>

